.hr1{
    /* background-color: rgb(82, 80, 255);*/
    position: absolute;
    left: 600px;
    top: 250px;
}
.hr2{
    /* background-color: rgb(82, 80, 255);*/
    position: absolute;
    left: 600px;
    top: 273px;
}
.hr3{
    /* background-color: rgb(82, 80, 255);*/
    position: absolute;
    left: 600px;
    top: 296px;
}
.hr4{
    /* background-color: rgb(82, 80, 255);*/
    position: absolute;
    left: 600px;
    top: 319px;
}